body {
  background-color: white;
  margin: 5;
  padding: 5;
}

.App {
  display: flex;
  flex-direction:row;
  justify-content: center;
  height: 100vh;
}

div .container {
  display: flex;
  border-style: underline;
  height: 100;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh
}

.column {
  flex: 1; 
  padding: 10px;
  border: 1px solid #ccc; 
  margin: 15px;
  width: 100%;
}

.card {
  padding: 35px;

  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}
.btnContainer {
  align-content: flex-start;
  margin-bottom: 10px;
  border-radius: 15px;
}

.textBox {
  border-bottom-width: 1px;
  border-color: black;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;

}

.DescBox {
  border-bottom-width: 1px;
  border-color: black;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
}

.FormContainer {
  height: 100vh;
  justify-content: center;
}

.header {
  font-size: medium;

}